body
{
    width: 1200px;
    margin: auto;
    font-family: sans-serif;
}
h1, p
{
    text-align: center;
}
table
{
    width: 1000px;
    margin: auto;
    border-collapse: collapse;
}
th, td
{
    border: 3px inset purple;
    padding: 2px 5px;
}
th:last-child, td:last-child
{
    border: none;
}
img
{
    text-align: center;
}
form
{
    position: relative;
    width: 50%;
    margin: auto;
}
form div
{
    margin: 5px;
}
form label
{
    width: 25%;
    text-align: right;
    display: inline-block;
    margin-right: 5px;
}
form input
{
    width: 60%;
}
.errors
{
    color: red;
}
span.question_mark
{
    display: inline-block;
    border: 1px solid black;
    width: 1.2em;
    height: 1.2em;
    text-align: center;
    border-radius: 1em;
    background-color: #EEFFEE;
}
.tooltip
{
    display: none;
}
.tooltip_bold
{
    font-weight: bold;
}

span.question_mark:hover ~ .tooltip
{
    display: block;
    position: fixed;
    z-index: 1;
    background-color: #EEFFEE;
    width: 30%;
    height: auto;
    overflow:hidden;
    padding: 0px 15px;
}
span.question_mark:hover ~ .tooltip p
{
    text-align: left;
}