<!doctype html>
<html lang="en" xml:lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{{ title }}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='package_control.css') }}" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='package_control.ico') }}" />
        <script src="{{ url_for('static', filename='package_control.js') }}" defer></script>
    </head>
    <body>
        <p>
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='package_control.ico') }}" alt="PackageControl WebApp" title="PackageControl WebApp"/>
            </a>
        </p>
        <h1>{{ title }}</h1>
        <div id="content">
            <table>
                <tr>
                    <th onclick="sortTable(this)">Owner</th>
                    <th onclick="sortTable(this)">Name</th>
                    <th onclick="sortTable(this)">Type</th>
                    <th onclick="sortTable(this)">Version</th>
                    <th onclick="sortTable(this)">Version Date</th>
                    <th onclick="sortTable(this)">Last updated</th>
                    <th onclick="sortTable(this)">Added</th>
                    <th onclick="sortTable(this)"></th>
                </tr>
                {% for package in packages %}
                <tr>
                    <td>{{ package.owner }}</td>
                    <td><a href="{{ package.homepage }}">{{ package.name }}</a></td>
                    <td{{ {'title': ptype_descriptions[package.ptype]}|xmlattr }}>{{ package.ptype }}</td>
                    <td>{{ package.version }}</td>
                    <td title="{{ package.date.isoformat() + ' UTC' if package.date else '' }}" data-time="{{ package.date if package.date else '' }}">{{ package.date.isoformat() if package.date else '' }}</td>
                    <td title="{{ package.last_updated.isoformat() + ' UTC' if package.last_update_successful else '' }}" data-time="{{ package.last_updated if package.last_update_successful else '' }}">{{ package.last_updated.isoformat() if package.last_update_successful else '' }}</td>
                    <td title="{{ package.added.isoformat() }}{{ ' UTC' if package.added else '' }}" data-time="{{ package.added }}">{{ package.added.isoformat() }}</td>
                    <td>
                        {% if package.updatable == 1 %}
                        <a href="{{ url_for('update_package_by_id', package_id=package.pid) }}" title="update this package">&#x21bb;</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <p>
            <span>Repository URL:</span>
            <input type="text" size="80" value="{{ repo_url }}" onfocus="this.select()" />
        </p>
        <p>Wanna submit your own package? Do it <a href="{{ url_for('new_package') }}">here</a></p>
        <script>
            window.onload = function()
            {
                let table = document.getElementsByTagName('table')[0];
                let rows =  [].slice.call(table.getElementsByTagName('tr')).slice(1);
                for(let i = 0; i < rows.length; i++)
                {
                    let columns = rows[i].getElementsByTagName('td');
                    for(let j = 0; j < columns.length; j++)
                    {
                        if (!columns[j].hasAttribute('data-time'))
                        {
                            continue;
                        }
                        let tempdate = new Date(columns[j].getAttribute('data-time'));
                        tempdate.setTime(tempdate.getTime() - new Date().getTimezoneOffset() * 60000)
                        if (tempdate && tempdate.getTime())
                        {
                            columns[j].innerHTML = makeRelativeTime(tempdate);
                        }
                    }
                }
            };
        </script>
    </body>
</html>
