<!doctype html>
<html lang="en" xml:lang="en">
    <head>
        <title>{{ title }}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='package_control.css') }}" />
        <script src="{{ url_for('static', filename='package_control.js') }}" defer></script>
    </head>
    <body>
        <p>
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='package_control.ico') }}" alt="PackageControl WebApp" title="PackageControl WebApp"/>
            </a>
        </p>
        <h1>{{ title }}</h1>
        <div id="content">
            <table>
                <tr>
                    <th onclick="sortTable(this)">Owner</th>
                    <th onclick="sortTable(this)">Name</th>
                    <th onclick="sortTable(this)">Type</th>
                    <th onclick="sortTable(this)">Last updated</th>
                    <th onclick="sortTable(this)">Added</th>
                    <th onclick="sortTable(this)"></th>
                </tr>
                {% for package in packages %}
                <tr>
                    <td>{{ package.owner }}</td>
                    <td><a href="{{ package.homepage }}">{{ package.name }}</a></td>
                    <td{{ {'title': ptype_descriptions[package.ptype]}|xmlattr }}>{{ package.ptype }}</td>
                    <td title="{{ package.last_updated.isoformat(timespec='seconds') if package.last_update_successful else '' }}{{ ' UTC' if package.last_update_successful else '' }}" data-time="{{ package.last_updated if package.last_update_successful else '' }}">{{ package.last_updated.isoformat(timespec='seconds') if package.last_update_successful else '' }}</td>
                    <td title="{{ package.added.isoformat(timespec='seconds') }}{{ ' UTC' if package.added else '' }}" data-time="{{ package.added }}">{{ package.added.isoformat(timespec='seconds') }}</td>
                    <td>
                        {% if package.updatable == 1 %}
                        <a href="{{ url_for('update_package_by_id', package_id=package.pid) }}" title="update this package">&#x21bb;</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <p>
            <span>Repository URL:</span>
            <input type="text" size="80" value="{{ repo_url }}" onfocus="this.select()" />
        </p>
        <p>Wanna submit your own package? Do it <a href="{{ url_for('new_package') }}">here</a></p>
    </body>
</html>
